@media (min-device-width: 320px) and (max-device-width: 580px) and (-webkit-min-device-pixel-ratio: 2) {
    th {
        font-size: 13px !important;
    }

    td {
        font-size: 11px !important;
    }
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    text-align: left;
    padding: 8px;
    color: white;
}

tr {
    background-color: #555;
}

tr:nth-child(even) {
    background-color: #444;
}

th {
    background-color: #333;
    color: white;
}